.header {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    height: 60px;
    width: 100%;
    z-index: 1000;
    /* padding: 10px 0; */
    font-family: "Karla";
    color: white;
}

.header-active {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    flex-direction: row;
    justify-content: space-between;
    background-color: #c5473b;
    height: 60px;
    width: 100%;
    z-index: 1000;
    /* padding: 10px 0; */
    font-family: "Karla";
    color: white;
}

.nav-left {
    display: flex;
    width: 55vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.8em 0 0.8em 2em;
}

.logo {
    width: 3em;
}

.nav-left-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-left: 4em;
}

.header-link {
    padding-bottom: 0.3em;
    position: relative;
    white-space: nowrap;
    cursor: pointer;
    margin: 0.4em 1.5em;
}

.header-link a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
}

.nav-left-link .header-link.active > a:before,
.nav-left-link a:hover:before,
.nav-left-link .header-link:hover a:before {
    visibility: visible;
    width: 100%;
}

.nav-left-link .header-link > a:before {
    content: "";
    position: absolute;
    height: 2.3px;
    bottom: -2px;
    left: 0;
    background-color: white;
    visibility: hidden;
    width: 0;
    transition: all 0.3s ease-in-out 0s;
}

.header-select {
    outline: none;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.1em;
}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0.8em 2em 0.8em 0;
}

.nav-right > p {
    border-left: 2px solid #c5473b;
    padding: 5px 20px;
    margin-left: 10px;
    cursor: pointer;
}

.nav-right .btn-projet {
    padding: 8px 10px;
    border: 3px solid rgb(197, 71, 59);
    font-size: 1.1em;
    background: #00000061;
    border-radius: 30px;
    margin-right: 0.2em;
    color: white;
    cursor: pointer;
    width: max-content;
}

.nav-right .btn-connect {
    padding: 8px 10px;
    /* border: 3px solid #00000061; */
    font-size: 1.1em;
    background: #00000061;
    border-radius: 30px;
    text-decoration: none;
    /* margin-right: 10px; */
    margin-left: 0.2em;
    color: white;
    cursor: pointer;
    width: max-content;
}

.flag-language {
    width: 20px;
    align-self: center;
    margin-top: -8px;
}

.select-items {
    position: relative;
    height: 2em;
    min-height: 2em;
    background-color: #c5473b;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
