.header {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    height: 60px;
    width: 100%;
    z-index: 1000;
    padding: 10px 0;
    color: white;
}

.headerActive {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    flex-direction: row;
    justify-content: space-between;
    background-color: #c5473b;
    height: 60px;
    width: 100%;
    z-index: 1000;
    padding: 10px 0;
    color: white;
}
.nav-menu {
    display: flex;
    width: 55%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    margin-left: 20px;
}

.img-logo {
    width: 80px;
}

.head-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.header-link {
    text-decoration: none;
    color: white;
    font-size: large;
    height: 30px;
}

.header-link:hover {
    border-bottom: 2px solid white;
}

.header-link-active {
    border-bottom: 2px solid white;
}

.nav-connect {
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    font-size: large;
    align-items: center;
}

.nav-connect > p {
    border-left: 2px solid #c5473b;
    padding: 5px 20px;
    margin-left: 10px;
    cursor: pointer;
}

.flag-language {
    width: 20px;
    align-self: center;
    margin-top: -8px;
}

.select-items {
    position: absolute;
    background-color: #c5473b;
}
