.header {
    left: 0;
    top: 0;
    position: fixed;
    display: flex;
    background-color: transparent;
    width: 100%;
    z-index: 5;
    padding: 0.5rem 2rem;
    color: white;
}

.header-active {
    background-color: #c5473b;
}

.logo {
    width: 3rem;
}

.nav-left {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

.nav-left-link {
    display: flex;
    align-items: center;

    &-btns {
        display: none;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        margin-top: 10px;
        > .btn {
            border-radius: 10rem;
            min-width: 10rem;
            &:hover {
                color: #c5473b !important;
            }
        }
    }

    @media screen and (max-width: 1084.99px) {
        &-btns {
            display: flex;
        }
        // display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 60px;
        opacity: 1;
        transition: all 0.5s ease-in-out;
        background: #c5473b;
    }
}

.header-link {
    position: relative;
    white-space: nowrap;
    cursor: pointer;
    margin: 0.4rem 1.2rem;
    transition: margin 0.2s ease-in;

    @media screen and (max-width: 1084.99px) {
        margin: 0.4rem 0.5rem;
    }
}

.header-link a,
.header-link span {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

.nav-left-link .header-link.active > .dropdown:before,
.nav-left-link .dropdown:hover:before,
.nav-left-link .header-link:hover .dropdown:before {
    visibility: visible;
    width: 100%;
}

.nav-left-link .header-link > .dropdown:before {
    content: "";
    position: absolute;
    height: 2.3px;
    bottom: -2px;
    left: 0;
    background-color: white;
    visibility: hidden;
    width: 0;
    transition: all 0.3s ease-in-out 0s;
}

.nav-left-link .header-link.active > a:before,
.nav-left-link a:hover:before,
.nav-left-link .header-link:hover a:before {
    visibility: visible;
    width: 100%;
}

.nav-left-link .header-link > a:before {
    content: "";
    position: absolute;
    height: 2.3px;
    bottom: -2px;
    left: 0;
    background-color: white;
    visibility: hidden;
    width: 0;
    transition: all 0.3s ease-in-out 0s;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 10px;

    > .btn {
        border-radius: 10rem;
        min-width: 10rem;
        &:hover {
            color: #c5473b !important;
        }
    }

    @media screen and (max-width: 1084.99px) {
        display: none;
    }
}

.flag-language {
    width: 20px;
    align-self: center;
}

.lang-select {
    background-color: white !important;

    &-item {
        color: #c5473b !important;

        &:hover {
            background-color: inherit !important;
            color: #c5473b !important;

            &.active {
                background-color: #c5473b !important;
                color: white !important;
            }
        }

        &:focus {
            background-color: inherit !important;
            color: #c5473b !important;

            &.active {
                background-color: #c5473b !important;
                color: white !important;
            }
        }

        &.active {
            background-color: #c5473b !important;
            color: white !important;
        }
    }
}
