.titles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #585b60;
  font-size: 60px;
  margin: 1em;
  font-family: 'building';
}

.dividerTitles {
  border-top: 2px solid #cdbdad;
  width: 5rem;
  margin-top: 2px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 30px;
  grid-auto-rows: minmax(100px, auto);
  margin-left: 50px;
  margin-right: 50px;
}

.service-component {
  display: flex;
  flex-direction: row;
}

.services-icon {
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #c5473b;
  padding: 20px;
  height: 20px;
  width: 20px;
  border-radius: 40px;
  box-shadow: 0 0 6px #c5473b, 0 0 0 8px #dd7c73;
}

.image-banner {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin: 5em 0;
}

.image-banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.image-banner-content {
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.image-banner-content > h5 {
  font-size: 50px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
  color: white;
  font-family: 'building';
  text-align: center;
}

.image-banner-content p {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.experts-grid {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 70px;
  margin: 0 50px;
}

.experts-component {
  position: relative;
  flex: 25%;
  margin: 0 10px;
  border-bottom: 3px solid #c5473b;
}

.experts-image {
  width: 100%;
  height: auto;
}

.experts-name {
  color: #c5473b;
  font-size: 1.5em;
  margin-top: 10px;
}

.experts-bio {
  padding-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.experts-button {
  position: absolute;
  right: 10px;
  top: 10px;
}
.experts-button-icon {
  cursor: pointer;
  transition: 0.5s;
}

.experts-button-icon:hover {
  transform: scale(0.9);
}

.modal {
  font-size: 18px;
  width: 100%;
}
.modal > .modal-content {
  width: 100%;
  padding: 10px 5px;
  display: flex;
  flex-direction: row;
}
.modal-image {
  flex: 10%;
  width: 10%;
  height: 10%;
  margin: 0 20px;
}

.modal-text {
  flex: 60%;
}
.modal-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.modal > .modal-actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close-modal {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.partner-text {
  text-align: center;
  margin: 0 140px;
  font-size: 1.5em;
  margin-bottom: 70px;
}

.partner-image {
  width: 60%;
  height: auto;
  object-fit: contain;
}

.projects-component {
  display: flex;
  flex: 0 0 auto;
  width: 45%;
  height: 320px;
  margin: 10px 10px;
  box-shadow: 0 0 6px grey;
  border-radius: 10px;
  overflow: hidden;
}

.projects-container {
  position: relative;
}

.projects {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 0 55px;
  margin-bottom: 70px;
  overflow: hidden;
}

.projects-button-left, .projects-button-right {
  position: absolute;
  top: 50%;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 4px black;
  cursor: pointer;
}

.projects-button-right {
  right: 15px;
}

.projects-button-left{
  left: 15px;
}


.projects-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects-content {
  flex: 60%;
  padding: 10px 20px;
  position: relative;
}

.projects-content > p  {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.projects-content > h3 {
  font-family: 'Building';
  font-size: 30px;
  margin-top: 0;
}

.projects-button {
  padding: 10px;
  background-color: #c5473b;
  width: max-content;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.projects-button:hover {
  opacity: 0.8;
}

.projects-content-bottom {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 10px;
  align-items: center;
  color: #c5473b;
  justify-content: space-between;
  width: 85%;
}

.events {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

.events-images {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  align-items: center;
  justify-content: center;
}

.events-image {
  width: 100%;
}

.events-component {
  position: relative;
  width: 45%;
  margin: 20px;
}

.events-div-hover {
  position: absolute;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  top: -10px;
  z-index: 100;
  width: 100%;
  height: 99%;
  background-color: #585b608a;
  transition: all 0.5s ease;
}

.events-div-hover:hover {
  opacity: 1;
  top: inherit;
  top: 0;
}

.events-hover-button {
  border: 1px solid #c5473b;
  width: max-content;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}
.events-hover-button:hover {
  background-color: #c5473b;
}

.img-banner {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 70px;
}

/* Slider Styles */
.sliderSection {
  position: relative;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
.sliderWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.sliderButtons {
  position: absolute;
  bottom: 30px;
  left: 100px;
  display: flex;
  z-index: 10;
}
.prevArrow, .forwardArrow {
  width: 30px;
  height: 30px;
  color: aliceblue;
  cursor: pointer;
  padding: 10px;
  user-select: none;
  transition: 0.3s;
}

.prevArrow {
  border-right: 1px solid white;
}

.slide {
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  transition: opacity ease-in-out 0.4s;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider::before {
  content: '';
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100vh;
  bottom: 0vh;
  left: 0;
  overflow: hidden;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0.6) 100%,
  );
}
.slideImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.active-anim-slider {
  opacity: 1;
}
.slideContent {
  position: absolute;
  left: 50px;
  top: 90px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 600px;
  color: aliceblue;
}
.slideContent > h1 {
  font-size: clamp(1rem, 8vw, 2rem);
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  text-align: left;
  margin-bottom: 0.8rem;
  font-family: 'building';
  font-size: 60px;
  margin-top: 0;
}
.slideContent > p {
  margin-bottom: 1.2rem;
  font-size: 23px;
}
/* Slider Styles ------------------------------------------*/
